@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
button {
    padding: 5px;
    color: white;
    background-color: #007BFF;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-family: 'Noto Sans JP', sans-serif;
}